.pre-signup{
    background: #1820E6;
    font-family: Averta-Semibold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.nav-item{
    margin-left: 56px;
    font-size: 16px;
    line-height: 19px;
}

.heading{
    margin-top: 213px;
    font-family: Averta-Bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #433A3F;
}

.sub-heading{
    font-family: Averta-Regular;
    font-size: 16px;
    line-height: 24px;
/* or 150% */

    text-align: center;

    color: #433A3F;

    opacity: 0.7;
}

/* .image{
    /* margin-top: 160px; */
    height:812px;
    width: 375px;
    /* position: absolute; */

    transform: translate(-50%,15%);
} */

/* .vector1{ */
    /* margin: 0 auto; */
    text-align: center;
    /* position: relative; */
    left: 58%;
    top: 50%;
       transform: translate(-40%,1900%);
}

/* .vector2{
    text-align: center;
    position: relative;
    left: 60.2%;
    top: 50%;
       transform: translate(-40%,780%);
} */


.icons{
    background: #1820E6;
    width: 52px;
    height: 52px;
    padding: 10px;
    opacity: 0.05;
    border-radius: 5px;
}
.txt{
    margin-top: 192px;
}
.txt-p{
    color:#1820E5;
    font-size: 14px;
}
.txt h5{
    font-size: 24px;
}
.block{
    margin-left: 30px;
}

.secure{
    width: 240px;
    height: 313px;
    border-radius: 10px;
    border: 1px solid rgb(109, 109, 110);
    box-shadow: 2px 0 10px #6e6f70; 
    padding: 120px 98px;
    position: relative;

}

.feat-text{
    position: relative;
    bottom: 50%;

    transform: translate(30%, 200%);
}

.screens{
    margin: 245px auto 80px auto;
}
.scans{
    margin-left: 80px;
}
.recall{
    margin-top: 98px;
}